version: "3.9"

services:
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"

  backend:
    build: ./backend
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017/testdb

  frontend:
    build: ./frontend
    depends_on:
      - backend
